<h2>Edit <%= resource_name.to_s.humanize %></h2>
<hr></hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
 <table align="center">
  <tr align="right">
   <div class="field">
    <td align="right"><h4><%= f.label :email %></h4></td>
    <td align="left" style="padding-left:30px"><%= f.email_field :email, autofocus: true, size: "40x10", class: "form-control input-lg", placeholder: "Enter Email" %></td>
  </div></tr>
<tr><td><br></td></tr>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 <tr align="right">
   <div class="field">
    <td align="right"><h4><%= f.label :password %></h4></td>
    <td align="left" style="padding-left:30px"><%= f.password_field :password, autocomplete: "off", size: "40x10", class: "form-control input-lg", placeholder: "Password"%></td>
  </div></tr>
  <tr><td><br></td></tr>
 <tr align="right">
   <div class="field">
    <td align="right"><h4><%= f.label :password_confirmation %></h4></td>
    <td align="left" style="padding-left:30px"><%= f.password_field :password_confirmation, autocomplete: "off", size: "40x10", class: "form-control input-lg", placeholder: "Confirm Password"%></td>
  </div></tr>
<tr><td><br></td></tr>
 <tr align="right">
   <div class="field">
    <td align="right"><h4><%= f.label :current_password %></h4></td>
   <td align="left" style="padding-left:30px"> <%= f.password_field :current_password, autocomplete: "off", size: "40x10", class: "form-control input-lg", placeholder: "Current Password"%></td>
  </div></tr>
  </table>
<br><br>
  <div class="actions centre">
 <input class="btn btn-inverser my-btn" type="submit" value="Update"></input>
  </div>
<% end %>

<h3 align="center">Delete my account</h3>
<table align="center">
<tr><td><p align="center">Unhappy?</p> <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "centre btn btn-inverser my-btn" %></td></tr></table></div>
<ul class="pager">
<li><%= link_to "Back", :back %></li>
</ul>
