<h1>New recovered</h1>

<%= form_for(@recovered) do |f| %>
  <% if @recovered.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recovered.errors.count, "error") %> prohibited this recovered from being saved:</h2>

      <ul>
      <% @recovered.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table align="center"><tr align="right">
  <div class="field">
    <td align="right"><h4>
    <%= f.label :recovered_amount %></h4></td>
    <td align="right" style="padding-left:30px"><%= f.number_field :recovered_amount, size: "70x10", class: "form-control input-lg", placeholder: "Enter Recovered Amount" %></td>
  </div>
</tr>
<tr><td><br></td></tr>
  <tr align="right">
  <div class="field">
    <td align="right"><h4>
    <%= f.label :recovery_time %></h4></td>
   <td align="right" style="padding-left:30px"> <%= f.number_field :recovery_time, size: "70x10", class: "form-control input-lg", placeholder: "Enter Recovered Amount" %></td>
  </div>
</tr>

<tr><td><br></td></tr>
  <tr align="right">
  <div class="field">
    <td align="right"><h4>
    <%= f.label :recovery_charges %></h4></td>
    <td align="right" style="padding-left:30px"> <%= f.number_field :recovery_charges, size: "70x10", class: "form-control input-lg", placeholder: "Enter Recovered Amount" %></td>
  </div>
</tr>
<tr><td><br></td></tr>
</table>
  <div class="actions" align="center">
    <input class="btn btn-inverser my-btn" type="submit" value="Create Recovery"></input>
  </div>
<% end %>
<ul class="pager">
<li><%= link_to 'Back', recovereds_path %></li>
</ul>
