<table width="100%">
<tr>
<td><h1>Loans Information</h1></td>
<td align="right">
<a href="/loans/new" class="btn btn-inverse my-btn" role="button"><i class="fa fa-plus fa-lg my-btn"></i>&nbsp&nbsp<label class="my-btn">Create Loan</label></a>
</td></tr></table>
<hr></hr>
<table id="loans-table" class="display">
  <thead>
    <tr>
	<th>Bank Name</th>
      <th>Loan ID</th>
	<th>Loan Name</th>
      <th>Loan type</th>
      <th>Interest rate</th>
	<th>Destroy</th>
    </tr>
  </thead>

  <tbody>
	<% @loans=Loan.all %>
    <% @loans.each do |loan| %>
      <tr>
	<td  data-link="<%= edit_loan_path(loan) %>", style="cursor:pointer" ><%= loan.bankname%></td>
        <td  data-link="<%= edit_loan_path(loan) %>", style="cursor:pointer" ><%= loan.id %></td>
	<td  data-link="<%= edit_loan_path(loan) %>", style="cursor:pointer" ><%= loan.loanname %></td>
        <td  data-link="<%= edit_loan_path(loan) %>", style="cursor:pointer" ><%= loan.loan_type %></td>
        <td  data-link="<%= edit_loan_path(loan) %>", style="cursor:pointer" ><%= loan.interest_rate %></td>
       <!-- <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>-->
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

