<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @loan.id%>
</p>

<p>
  <strong>Loan type:</strong>
  <%= @loan.loan_type %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
