<p id="notice"><%= notice %></p>

<p>
  <strong>Rule:</strong>
  <%= @rule.rule_id %>
</p>

<p>
  <strong>Rule name:</strong>
  <%= @rule.rule_name %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
